<div style="margin: 10px;">
    <input type="text" name="picker" id="1" class="form-control" readonly placeholder="Datetime picker"
        [customDateTimePicker]="pickerConfig" (pickerValue)="pickerValue">

</div>

<div style="margin: 10px;">
    <input type="text" name="picker" id="2" class="form-control" readonly placeholder="Datetime picker"
        [customDateTimePicker]="pickerConfig">
</div>

<div style="margin: 10px;">
    <div [customDateTimePicker]="pickerConfig">This is a div parent</div>
</div>