<!-- Get output value from directive -->
<div style="margin: 10px;">
    <input type="text" name="picker" id="1" class="form-control" readonly placeholder="Datetime picker"
        [customDateTimePicker]="pickerConfig" (pickerValue)="pickerValue($event)">
</div>

<!-- Setting minimum value to calendar input -->
<div style="margin: 10px;">
    <input type="text" name="picker" id="2" class="form-control" readonly placeholder="Datetime picker"
        [customDateTimePicker]="pickerConfig1">
</div>

<div style="margin: 10px;">
    <div [customDateTimePicker]="pickerConfig">This is a div parent</div>
</div>