$white: #fff;
$button-color: #f15f2e;

@font-face {
    font-family: 'Frutiger LT Std Light';
    src: url(./assets/fonts/frutiger_lt_std_light.eot) format('eot'), url(./assets/fonts/frutiger_lt_std_light.woff) format('woff'), url(./assets/fonts/frutiger_lt_std_light.ttf) format('truetype');
}

@font-face {
    font-family: 'Frutiger LT Std Bold';
    src: url(./assets/fonts/frutiger_lt_std_bold.eot) format('eot'), url(./assets/fonts/frutiger_lt_std_bold.woff) format('woff'), url(./assets/fonts/frutiger_lt_std_bold.ttf) format('truetype'), url(./assets/fonts/frutiger_lt_std_bold.svg) format('svg');
}

.datetime-picker {
    font-family: 'Frutiger LT Std Light', 'Open Sans', Arial !important;
    border: 1px solid rgba(0,0,0,.2);
    padding: 6px;
    margin-top: 10px;
    min-width: 266px;
    display: inline-block;
}

.well {
    padding: 0px !important;
    background-color: transparent !important; 
    border: none !important; 
    box-shadow: none !important; 
    margin-bottom: 0px !important;
}

button:focus {
    outline: none !important;
    border: none !important;
}

.btn.active, .btn:active {
    box-shadow: none !important;
}

.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info, .btn-info  {
    background-color: $button-color !important;
    border-color: $button-color !important;
    color: $white !important;
}

daypicker, monthpicker, yearpicker  {
    .btn-default {
        border-color: transparent !important;
        .text-info {
            color: #000 !important;
        }
        &:focus {
            outline: none !important;
            border: none !important;
        }
        &:hover, &.active {
            background-color: $button-color !important;
            border-color: $button-color !important;
            color: $white !important;
            .text-info {
                color: $white !important;
            }
        }
    }

    table {
        thead * {
            font-family: 'Frutiger LT Std Bold' !important;
            font-size: small;
        }
        thead tr:first-child th:nth-child(odd) button {
            font-size: medium !important;
        }
        .btn.btn-default.btn-info.active {
            .text-info {
                color: $white !important;
            }
        }
    }
}

timepicker {
    display: inline-block;
    width: 100%;
    .bs-chevron.bs-chevron-down,
    .bs-chevron.bs-chevron-up {
        color: $button-color !important;
        margin: 3px;
    }

    table {
        width: 100% !important;
        .form-group {
            margin-bottom: 0 !important;
            display: flex;
            justify-content: center;
        }
    }
}

.datetime-options {
    padding:5px;
    margin-top: 5px;
    border-top: 1px solid rgba(0,0,0,.2);
    .btn-success {
        background-color: $button-color !important;
        border-color: $button-color !important;
        color: $white !important;
    }
    .fa-clock-o::before {
        font-size: 24px !important;
        color: #337ab7;
    }
}

.flexbox {
    display: flex;
    .space-between {
        justify-content: space-between;
        align-items: center;
    }
    .space-evenly {
        justify-content: space-evenly;
        align-items: center;
    }
    .space-between, .space-evenly {
        > span {
            font-size: 12px;
        }
        > span:hover {
            font-weight: bolder;
        }
    }
    .flex-end {
        justify-content: flex-end;
        align-items: center;
        & .clear {
            color: $button-color !important;
            font-size: smaller;
        }
    }
    > div {
        width: 100%;
        span {
            cursor: pointer;
            padding: 2px 5px;
        }
    }
}